
<html>
<style>
div.a {
    text-transform: uppercase;
}
</style>
<body>
<div class="container" style= "margin-left:5%; margin-right:5%; font-size:1.05em;  border:2px solid black; width:80%">
<header>

<div class="container" style="    background-color: #233e9e;>

<img src="http://skyrate.cloubiot.com/assets/img/Logo.png"  alt="SkyRate" />
</div>
</header>
<hr  style="margin-top:0px">

<div class="container" style="padding:10px;">
<b>Dear $firstName $lastName</b>

<div style="padding-top:10px;padding-bottom:10px;">
User: $from <br>
$body


</div>
<div style="padding-top: 10px; padding-bottom: 10px;">
Please contact user for further details.<br>
<span style="font-size:12px;">This is a system generated e-mail and please do not reply.</span><br>
</div>
<b>Regards,</b><br>
<b>Skyrate Team</b>
</div>
<hr>
<footer style="padding:10px" align="center">&copy;2018 Skyrate.</footer>
</div>
</body>
</html>