<html>
<style>
body{
font-family: "Courier New";
}
</style>
<body>
<div class="container" style= "margin-left:5%; margin-right:5%;  border:2px solid black; width:80%">
<header>

<div class="container" style="background-color: #233e9e;>

<img style="width:25%;" src="http://skyrate.cloubiot.com/assets/img/Logo.png"  alt="SkyRate" />
</div>
</header>
<hr style="margin-top:0px">

<div class="container" style="padding:10px;">
<b>Dear $firstName $lastName!</b>
<div style="padding-top: 10px;">We have received password request for your Skyrate Account.<br>

Password: <b>$password</b>
</div>
<div style="padding-top: 10px; padding-bottom: 10px;" >
<span style="font-size:12px;">This is a system generated e-mail and please do not reply.</span><br>
If you did not request a new password, please secure your account.</div>

<b>Regards,</b><br>
<b>SkyRate Team</b>
</div>
<hr>
<footer style="padding:10px" align="center">&copy;2018 SkyRate.</footer>
</div>
</body>
</html>