<html>
<body>
<div class="container" style= "margin-left:5%; margin-right:5%;  border:2px solid black; width:80%">
<header>

<div class="container">

<img style="width:25%;" src="http://spice.cloubiot.com/app/img/Spice-logo.png"  alt="Spice Corner" />
</div>
</header>
<hr>

<div class="container" style="padding:10px;">
<b>Hi $firstName $lastName!</b>
<p style="line-height:2">We have receive a request to get your username for your Spice Corner account.<br>
Your username is <b>$userName</b>.<br>
If you did not request a username, secure your account.<br>
See you soon on Spicy Corner</p>

<b>Regards,</b><br>
<b>Spice Corner Team</b>
</div>
<hr>
<footer style="padding:10px" align="center">&copy;2018 Spice Corner.</footer>
</div>
</body>
</html>